doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="public/css/tailwind.css")
    link(rel="stylesheet", href="public/css/Login.module.css")
    title Manoonland - Register
  body
  main.grid.h-screen.place-items-center
      form(action="/register", method="post" class="w-1/3").login-form.flex.flex-col.justify-center
        img.mx-auto(src="/public/image/manoonchai.png", align="center" width="64px" height="64px" alt="logo")
        h1.text-5xl.font-bold.text-center Register
        label(for="username").text-md Username
        input#username(type="text", name="username" class="focus:ring-2 focus:ring-blue-500" placeholder="Username" required).border.rounded-sm.mt-2.p-1.outline-none.transition.duration-200
        label(for="password").text-md.mt-2 Password
        input#password(type="password", name="password" class="focus:ring-2 focus:ring-blue-500" placeholder="Password" required).border.rounded-sm.mt-2.p-1.outline-none.transition.duration-200
        label(for="re-password").text-md.mt-2 Re-enter
        input(type="password", name="re-password" class="focus:ring-2 focus:ring-blue-500" placeholder="Password" required).border.rounded-sm.mt-2.p-1.outline-none.transition.duration-200
        if error  
          .bg-red-300.border.border-red-500.rounded-lg.w-full.p-1.text-white.mt-2 #{error}
        button#login.px-4.py-2.bg-green-500.text-white.font-bold.rounded-xl.mt-4.outline-none.transform.transition.duration-200(type="submit" class="hover:bg-green-700 active:scale-95 focus:ring-offset-transparent focus:ring-2 ring-offset-2 focus:ring-green-500") Submit 