doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="public/css/tailwind.css")
    link(rel="stylesheet", href="public/css/Home.module.css")
    title Manoonland - Type 
  body
  main.h-screen.grid.place-items-center
      .flex.flex-col.justify-center.p-2
        img.mx-auto(src="/public/image/manoonchai.png", align="center" width="64px" height="64px" alt="logo")
        p Coming soon ...